<app-top-bar></app-top-bar>
<div class="form row" style="margin-top: 5px;">
<br/>
	<div class="col-md-6 col-md-offset-3"> 
        <p class="text-danger">{{massageArea}}</p>
		<div class="textH">
		<input class="form-control" type="text" [(ngModel)]="productId" name="productId" readonly />
		</div>
		<div class="textH">
			<input class="form-control" type="text" placeholder="Product Name" [(ngModel)]="productName" name="productName"/>
		</div>
		<div class="textH">
			<select class="form-control" id="category1" [(ngModel)]="categoryId" (change)="getSubCategoryOptions($event.target.selectedIndex)" >
	          <option value="" selected>Select Category:</option>
	          <option *ngFor="let item of categorylist" [value]='item.categoryId'>{{item.categoryName}}</option>
	        </select>
		</div>
		<div class="textH">
			<select class="form-control" id="category2" [(ngModel)]="subcategoryId" (change)="setSubCategoryInfo($event.target.selectedIndex)">
	          <option value="" selected>Select Subcategory:</option>
	          <option *ngFor="let item of subcategorylist" [value]='item.scPk.subcategoryId'>{{item.subcategoryName}}</option>
	        </select>
		</div>
		<div class="textH">
			<input class="form-control" type="text" placeholder="Unit" [(ngModel)]="unit" name="unit"/>
		</div>
		<div class="textH">
			<input class="form-control" type="number" placeholder="Current Price" [(ngModel)]="currentPrice" name="currentPrice"/>
		</div>
		<div class="textH">
			<input class="form-control" type="number" placeholder="Current Stock" [(ngModel)]="currentStock" name="currentStock"/>
		</div>
		<div class="textH">
			<input class="form-control" type="text" placeholder="Description" [(ngModel)]="description" name="description"/>
		</div>
		<div class="textH">
			<input class="form-control" type="text" placeholder="Remarks" [(ngModel)]="remarks" name="remarks"/>
		</div>
		<div class="bottonH">
			<input type="submit" class="btn btn-primary btn-sm" value="Update" (click)="saveProduce()"/>
			<input type="submit" class="btn btn-primary btn-sm" style="margin-left: 8px;" (click)="goBack()"  id="back_btn" value=" Back "/>
		</div>
	</div>
</div>
