<h3 class="form-title">Account info</h3>

<div div class="col-sm-6 col-md-6"  style="text-align: center;">
          <p class="text-danger">{{errorMessage}}</p>
<div>
<input class="form-control " size="15" type="text" required ng-minlength="15" placeholder="Buyer id" [(ngModel)]="buyerId" id="buyerId">
</div>
<div>
<input class="form-control" type="username" style="margin-top: 3px;" ng-minlength="30" placeholder="Buyer name" [(ngModel)]="buyerName" id="buyerName">
</div>
<div>
<input class="form-control" type="password" style="margin-top: 3px;" ng-minlength="30" placeholder="Password" [(ngModel)]="password" id="password" name="password"/>
</div>
<div>
<input class="form-control" type="password" style="margin-top: 3px;" ng-minlength="30" placeholder="Re-type Your Password" [(ngModel)]="rpassword" name="rpassword"/>
</div>
<div>
<input class="form-control" type="email" style="margin-top: 3px;" placeholder="E-mail address" ng-minlength="30" [(ngModel)]="email" id="email">
</div>
<div>
<input class="form-control" type="tel" style="margin-top: 3px;" placeholder="Mobile number" ng-minlength="20" [(ngModel)]="mobileNumber" id="mobileumber">
</div>
<div>
<input class="form-control" type="text" style="margin-top: 3px;" placeholder="Postal address" ng-minlength="100" [(ngModel)]="postalAddress" id="postalAddress">
</div>
<div class="form-group">
  <input type="submit" name="register" class="btn btn-primary btn-sm" value="Update" style="margin-top: 20px;" (click)="goUpdate()" id="Update">
	<input type="submit" class="btn btn-primary btn-sm" style="margin-left: 8px;margin-top: 20px;" (click)="goBack()"  id="back_btn" value="Back"/>
 </div>
</div>