<script src="./src/bootstrap-input-spinner.js"></script>
<script>$("input[type='number']").inputSpinner();</script>
<div class="row justify-content-center bg-light" style="height: 500px">
  <div class="col-md-6 col-md-offset-3">
    <div id="itemDetails" class="panel panel-default">
      <h2 style="background-color: aquamarine;">Item detail info</h2>
      <table style="width: 97%;" class="table-bordered table-striped table-hover table-condensed ml-3" *ngIf="item">
              <tr >
                  <th style="width: 30%;">Product Id</th>
                  <td>{{ item.productId }}</td>
              </tr>
              <tr>
                  <th>Product Name</th>
                  <td>{{ item.productName }}</td>
              </tr>
              <tr>
                  <th>Category</th>
                  <td>{{ item.categoryName }}</td>
              </tr>
              <tr>
                  <th>Sub category</th>
                  <td>{{ item.subcategoryName }}</td>
              </tr>
              <tr>
                  <th>Unit</th>
                  <td>{{ item.unit }}</td>
              </tr>
              <tr>
                  <th>Price</th>
                  <td>{{ item.currentPrice }}</td>
              </tr>
              <tr>
                  <th>Stock</th>
                  <td>{{ item.currentStock }}</td>
              </tr>
              <tr>
                  <th>Description</th>
                  <td>{{ item.description }}</td>
              </tr>
        </table>
    </div>

    <div style="margin-top: 20px;">
      <h2 style="background-color: aquamarine;">Purchase amount</h2>
      <div class="row justify-content-center">
        <!-- <div class="col-md-4">
        </div> -->
        <div class="col-md-4 col-md-offset-4">
            <input type="number" value="1" min="0" max="1000" step="1" [(ngModel)]="quantity" style="width: 70px;"/>
        </div>
      </div>
    </div>

    <div style="margin-top: 20px;">
        <table style="width: 100%;">
          <tr>
            <td align="left"><button type="button" class="btn btn-primary" (click)="addToCart(item)">Add to cart</button></td>
            <td align="center"><button type="button" class="btn btn-primary" (click)="checkout(item)">Buy now</button></td>
          </tr>
        </table>
    </div>
  </div>
</div>