<app-top-bar></app-top-bar>
<h2>Seller top</h2>
<div class="modal-dialog" style="margin-top: 5%;">
        <div class="modal-content">
            <div class="modal-footer justify-content-center" style="background-color: burlywood;">
                <div class="form-group">
                    <a [routerLink]="['/item-list']" style="background-color:blueviolet;" routerLinkActive="router-link-active" class="button fancy-button">Item list</a>
                </div>
                <div class="form-group">
                    <a [routerLink]="['/reports']" style="background-color:blueviolet;" routerLinkActive="router-link-active" class="button fancy-button">Reports</a>
                </div>
                <div class="form-group">
                    <a [routerLink]="['/myprofile']" style="background-color:blueviolet;" routerLinkActive="router-link-active" class="button fancy-button">My profile</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->