<div id="cartItemList" style="width: 100%;">
  <h2 style="width: 20%;">Item list</h2>
  <table style="width: 100%;" class="table-bordered table-hover table-condensed">
    <tr style="background-color: #CAE8EA;">
        <th style="width: 3%;">Sel.</th>
        <th style="width: 9%;">Product Id</th>
        <th style="width: 15%;">Product Name</th>
        <th style="width: 13%;">Category</th>
        <th style="width: 13%;">Sub category</th>
        <th style="width: 9%;">Unit</th>
        <th style="width: 9%;">Price</th>
        <th style="width: 9%;">Quantity</th>
        <th style="width: 20%;">Remarks</th>
    </tr>
  <tbody *ngFor="let order of orders; index as productId">
    <tr>
        <td align="center"><input type="checkbox" name="checkAll" /></td>
        <td><a [routerLink]="['/itemdetail', productId]" routerLinkActive="router-link-active" >{{ order.productNO }}</a></td>
        <td>{{ order.productName }}</td>
        <td>{{ order.category }}</td>
        <td>{{ order.subcategory }}</td>
        <td>{{ order.unit }}</td>
        <td align="right">{{ order.price }}</td>
        <td align="right">{{ order.quantity }}</td>
        <td>{{ order.remarks }}</td>
    </tr>
  </tbody>
  </table>
</div>
<div style="width: 100%; margin-top: 30px;">
  <div style="float: inline-start;"><button type="button" class="btn btn-primary btn-sm">Remove items</button></div>
  <div style="float: inline-end;"><button type="button" class="btn btn-primary btn-sm" routerLink="/checkout">Checkout</button></div>
</div>