<div id="cartItemList" style="width: 100%;">
  <h2 style="width: 20%;">Item list</h2>
  <table style="width: 100%;" class="table-bordered table-hover table-condensed">
    <tr style="background-color: #CAE8EA;">
        <th style="width: 3%;">Sel.</th>
        <th style="width: 9%;">Product Id</th>
        <th style="width: 15%;">Product Name</th>
        <th style="width: 13%;">Category</th>
        <th style="width: 13%;">Sub category</th>
        <th style="width: 9%;">Unit</th>
        <th style="width: 9%;">Price</th>
        <th style="width: 9%;">Quantity</th>
        <th style="width: 20%;">Remarks</th>
    </tr>
  <tbody *ngFor="let cartItem of searchlist index as productId">
    <tr>
        <td align="center">
        	<span *ngIf="cartItem.chkFlg; else noCheckTemp">
        		<input type="checkbox" name="cartSel" (click)="selectCheckbox($event.target.checked, cartItem)" checked/>
        	</span>
       		<ng-template #noCheckTemp>
  				<input type="checkbox" name="cartSel" (click)="selectCheckbox($event.target.checked, cartItem)"/>
			</ng-template>
        	
        	
        </td>
        <td><a [routerLink]="['/itemdetail', productId]" (click)="viewDetail(cartItem.productId)" routerLinkActive="router-link-active" >{{ cartItem.productId }}</a></td>
        <td>{{ cartItem.productName }}</td>
        <td>{{ cartItem.categoryName }}</td>
        <td>{{ cartItem.subcategoryName }}</td>
        <td>{{ cartItem.unit }}</td>
        <td align="right">{{ cartItem.purchasePrice }}</td>
        <td align="right">{{ cartItem.purchaseNum }}</td>
        <td>{{ cartItem.remarks }}</td>
    </tr>
  </tbody>
  </table>
</div>
<div style="width: 100%; margin-top: 30px;">
  <div style="float: inline-start;"><button type="button" class="btn btn-primary btn-sm" (click)="removeItems()">Remove items</button></div>
  <div style="float: inline-start;" *ngIf="hasres">
  	<button type="button" class="btn btn-primary btn-sm" (click)="clearCart()">Clear cart</button>
  </div>
  <div style="float: inline-end;"><button type="button" class="btn btn-primary btn-sm" (click)="checkout()">Checkout</button></div>
</div>