<app-top-bar></app-top-bar>
<h2>Item list</h2>
<p class="text-danger">{{massageArea}}</p>
<table class="table-bordered table-hover table-condensed" style="width: 100%;">
    <tr style="background-color: burlywood;" >
      <th style="width: 8%;">Product Id</th>
      <th style="width: 8%;">Product Name</th>
      <th style="width: 10%;">Category Id</th>
      <th style="width: 10%;">Category Name</th>
      <th style="width: 10%;">Subcategory ID</th>
      <th style="width: 10%;">Subcategory Name</th>
      <th style="width: 4%;">Unit</th>
      <th style="width: 7%;">Current Price</th>
      <th style="width: 7%;">Current Stock</th>
      <th style="width: 9%;">Remarks</th>
      <th style="width: 10%;">Description</th>
      <th style="width: 6%;">Delete</th>
    </tr>
  <tbody *ngFor="let product of productlist; index as prdNo">
    <tr >
      <td><a Link="#" (click)="goUpdate(product.productId)">{{ product.productId }}</a></td>
      <td>{{ product.productName}}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.categoryName }}</td>
      <td>{{ product.subcategoryId }}</td>
      <td>{{ product.subcategoryName }}</td>
      <td align="right">{{ product.unit }}</td>
      <td align="right">{{ product.currentPrice }}</td>
      <td align="right">{{ product.currentStock }}</td>
      <td>{{ product.remarks }}</td>
      <td>{{ product.description }}</td>
      <td><input type="submit" class="btn-primary" value="delete" (click)="doDelete(product.productId)"/></td>
    </tr>
  </tbody>
</table>
<div class="form-group" style="margin-top: 10px;">
    <input type="submit" name="insert" class="btn btn-primary" value="Insert" routerLink="/item-insert">
    <input type="submit" id="back_btn" class="btn btn-primary" style="margin-left: 8px;" value="Back" (click)="goBack()" />
</div>
